<%- include header %>
<% if (env === "production") { %>
    <link rel="stylesheet" href="/singlenote/index.css">
<% } %>

<% if (note.length > 0) { %>
<div class="note_page_box">
	
	<div class="note_box">
		<h2 class="note_title"><%= note[0].title %></h2>
		<div id='note_id' style="display: none;"><%= note[0].urlid %></div>
		<div class="note_info">
			<span class="note_author">by: <a href="/authorpage/<%= note[0].author %>"><%= note[0].author %></a></span>
			<span class="note_read">阅读99</span>
			<span class="note_comment">评论88</span>
			<span class="note_like">喜欢520</span>

			<span class="note_time"><%= note[0].time %></span>
		</div>
		<div class="content" id="content_jq">
			<%- note[0].content %>
			<div id="pencilIcon" class="pencilIcon" ></div>
			<div id="hoverdialog"></div>
		</div>
	</div>

	<div class="opera_menu" id="add_comment">
		<div class="opera_add">+</div>
	</div>
	<div class="note_comment_box listposition list" id="listbar">
		<div class="listTitle">评论框</div>
	</div>
	<div id="comment_window" class="comment_window">
		<div class="comment_container">
			<div class="window_title">添加评论<div id="close" class="close">×</div></div>
			<textarea class="window_content"></textarea>
			<div class="window_footer">
				<div id="window_add" class="window_add">確定</div>
			</div>
		</div>
	</div>
</div>
<div class="nosureyet"></div>
<% } else { %>
<p>文章抓取出错惹。</p>
<% } %>


<script src="/singlenote/bundle.js"></script>
<%- include footer %>